html
	head
		link(href='https://fonts.googleapis.com/css?family=Montserrat|Oleo+Script' rel='stylesheet')
		link(rel='stylesheet' href='app.css')
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')
		link(rel='apple-touch-icon', sizes='57x57', href='/apple-icon-57x57.png')
		link(rel='apple-touch-icon', sizes='60x60', href='/apple-icon-60x60.png')
		link(rel='apple-touch-icon', sizes='72x72', href='/apple-icon-72x72.png')
		link(rel='apple-touch-icon', sizes='76x76', href='/apple-icon-76x76.png')
		link(rel='apple-touch-icon', sizes='114x114', href='/apple-icon-114x114.png')
		link(rel='apple-touch-icon', sizes='120x120', href='/apple-icon-120x120.png')
		link(rel='apple-touch-icon', sizes='144x144', href='/apple-icon-144x144.png')
		link(rel='apple-touch-icon', sizes='152x152', href='/apple-icon-152x152.png')
		link(rel='apple-touch-icon', sizes='180x180', href='/apple-icon-180x180.png')
		link(rel='icon', type='image/png', sizes='192x192', href='/android-icon-192x192.png')
		link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
		link(rel='icon', type='image/png', sizes='96x96', href='/favicon-96x96.png')
		link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
		link(rel='manifest', href='/manifest.json')
		meta(name='msapplication-TileColor', content='#ffffff')
		meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')
		meta(name='theme-color', content='#ffffff')
	body
		section#main-container
			.container
				.row
					.col.s10.push-s1
						.row
							.col.m5.hide-on-small-only
								img.iphone(src='iphone.png', alt='iphone')
							.col.s12.m7
								.row
									.signup-box
										h1.platzigram Platzigram
										form.signup-form(action='')
											h2 Registrate para ver fotos de tus amigos estudiando en Platzi
											.section
												a.btn.btn-fb.hide-on-small-only(href='') Iniciar sesión con Facebook
												a.btn.btn-fb.hide-on-med-and-up(href='') Iniciar sesión
											.divider
											.section
												input(type='email', name='email', placeholder='Correo electrónico')
												input(type='text', name='name', placeholder='Nombre completo')
												input(type='text', name='username', placeholder='Nombre de usuario')
												input(type='password', name='password', placeholder='Contraseña')
												button.btn.waves-effect.waves-light.btn-signup(type='submit') Registrar
								.row
									.login-box
										| ¿Tienes una cuenta? 
										a(href='/signin') Entrar
		footer.site-footer
			.container
				.row
					.col.s12.l3.center-align
						a.dropdown-button.btn.btn-flat(href='#', data-activates='dropdown1') Idioma
						ul#dropdown1.dropdown-content
							li
								a(href='#!') Español
							li
								a(href='#!') Ingles
					.col.s12.l3.push-l6.center-align
						| CpyR 2016 Platzigram

		script(src='https://code.jquery.com/jquery-2.2.4.min.js', integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=', crossorigin='anonymous')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js')
		script(type="application/javascript" src="app.js")


